@use "../../styles/util/index" as var;


.buttonContainer{
    button{
        display: block;
        margin-bottom: 20px;
        color: #fff;
        border-radius: 6px;
        width: 100%;
        padding: 5px 0;
    }
    .cart-button{
        background-color: var.$secondary-color;
        
    }
    .checkout-button{
        background-color: blue;
    }
}