@use "../../../styles/util/index" as var;

.header {
  background-color: var.$primary-color;
  .navigation {
    margin: var.$site-margin;
  }
  a{
    margin-left: 32px;
  }
  @media screen and (max-width: 768px) {
    .navigation {
        margin: 0 20px; /* Adjust the margin as needed for small devices */
    }
}
}
